h1 {
  font-family: $font-secondary;
  font-size: $h1-font-size;
  font-weight: $regular;
  color: $white;
  text-transform: uppercase;
}

h2 {
  font-family: $font-secondary;
  font-size: $h2-font-size;
  font-weight: $regular;
  color: $heading-color;
  text-transform: uppercase;
}

h3 {
  font-size: $h3-font-size;
  font-weight: $bold;
  color: $heading-color;
}

h4 {
  font-size: $h4-font-size;
  font-weight: $semibold;
  color: $heading-color;
}

p {
  font-size: $font-size;
  color: $font-color;
  line-height: $line-height;
}
