.feature-one {
  background: $bg-section;
  @include paddingY(14.7rem, 11.4rem);

  .feature-one__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @include marginX(-1.5rem);

    .feature-one__nav-tabs {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66%;
      flex: 0 0 16.66%;
      max-width: 16.66%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      @include paddingX(1.5rem);

      .nav-tabs__item {
        background: #333;
        width: 11.2rem;
        height: 11.2rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: $bold;
        text-transform: uppercase;
        border-bottom: 0.1rem solid #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &:first-child {
          border-radius: 0.4rem 0.4rem 0 0;
        }

        &:last-child {
          border-radius: 0 0 0.4rem 0.4rem;
          border-bottom: 0;
        }

        &:hover {
          background: $primary-color;
        }

        &.nav-tabs-active {
          background: $primary-color;
        }
      }
    }

    .feature-one__tab {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33%;
      flex: 0 0 83.33%;
      max-width: 83.33%;
      display: none;
      @include paddingX(1.5rem);

      &.tab-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      .feature-one__info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

        .feature-one__title {
          color: $black;
          margin-bottom: 5.5rem;
        }

        .feature-one__desc {
          margin-bottom: 2.5rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        .btn-download--bg {
          margin-top: 5rem;
        }
      }
    }
  }
}
